<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonTest" parallel="false">


    <listeners>
		<listener class-name="com.qa.ExtendreportListerner.ExtentReporterNG" />
	</listeners>
	
	
  <test name="Test">
    <classes>
     <class name="com.amazon.qa.testcases.LoginPageTest"/>
      <class name="com.amazon.qa.testcases.HomePageTest"/>
      <class name="com.amazon.qa.testcases.SignupPageTest"/>
      <class name="com.amazon.qa.testcases.SocialStudiesBookTest"/>
      <class name="com.amazon.qa.testcases.CustomerCarePageTest"/>
      <class name="com.amazon.qa.testcases.School_BookTest"/>
      <class name="com.amazon.qa.testcases.SocialStudiesBookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
